*{
    background-color: aqua;
}   

div{
    background-color: greenyellow;
}
p{
    color: red;
}

body{
    background-color: pink;
}

/* #parent{
    background-color: aqua;
} */

#parent .second{
    color:brown;
}

.first{
    color: blue;
}